body{
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
		background-image: url("Backround.png");
		background-repeat: repeat;
}

nav{
		display: flex;
		justify-content: space-around;
		align-items: center;
		min-height: 8vh;
		background-color:#232830;
    font-family: 'Poppins', sans-serif;
}

.logo{
		color: white;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 20px;
}

.nav-links{
		display: flex;
		justify-content: space-around;
		width: 30%;
}

.nav-links li{
		list-style: none;
}

.nav-links a{
		color: white;
		text-decoration: none;
		letter-spacing: 3px;
		font-weight: bold;
		font-size: 14px;
}

.heading h1{
		color: white;
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
		text-align: center;
		font-size: 100px;
}

.heading p{
		color: white;
		text-decoration: none;
		font-weight: bold;
		font-family: 'Source Sans 3', sans-serif;
		text-align: center;
		font-size: 20px;
}

.news h2{
		margin-top: 150px;
		margin-left: 100px;
		color: white;
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
		font-size: 30px;
}

.links{
		display: flex;
		color: white;
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
		font-size: 20px;
		margin-left: 130px
}
