; Don't commit downloaded Emacs packages
.packages/

; Ignore the org-publish cache
.org-cache/

; Ignore published html files except stylesheet
public/maths/
public/projects/
public/repos/
public/school/
public/notes/
public/404.html
public/CNAME
; public/index.html