/* Body */
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; background-image: url("Index.png");
    background-repeat: repeat;
}

/* Navigation panel */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#232830;
    font-family: 'Poppins', sans-serif;
}

.logo{
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}


.links{
    display: flex;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 130px
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1023px){
    .nav-links{
	width: 60%;
    }
}

@media screen and (max-width:768px){
    .body{
	overflow-x: hidden; 
    }

    .logo{
	font-size: 30px;
    }
    .nav-links{
	position: absolute;
	right: 0px;
	height: 92vh;
	top: 12vh;
	background-color:#232830;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	transform: translateX(100%);
	transition: transform 0.5s ease-in;
    }

    .nav-links li{
	opacity: 0;
    }


    .nav-links a{
	font-size: 25px;
    }
    .burger{
	display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
	opacity: 0;
	transform: translateX(50px);
    }
    to{
	opacity: 1;
	transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px); 
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px); 
}

.who{
		display: none;
		margin-bottom: 5px;
}

.who-toggle{
		display: flex;
    margin-bottom: 20px
}
