/* Global Settings */
body {
    margin: 0px;
    padding: 0px;
    background-color:#1c2026;
}

p {
    color:#c4c2bf;
    font-family: 'Roboto', sans-serif;
}

li {
    color:#c4c2bf;
}

/* Preamble (Header) */

/* Main Title */
#preamble h1 {
    color:#81b4ea;
    font-family: 'Poppins', sans-serif;
}

/* Links */
.links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

#preamble a {
    color:#b8d0e2;
    font-family: 'Poppins', sans-serif;
    background-color:#16191e;
}

#preamble li {
    list-style: none;
}

/* Entire Preamble */
#preamble {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    background-color:#16191e;
    border-bottom: .3rem solid #417b15;
}

/* headers */

h1 {
    color:#81b4ea;

}

h2 {
    color:#afea81;
}

h3 {
    color:#afea81;
}

h4 {
    color:#afea81;
}

h5 {
    color:#afea81;
}

h6 {
    color:#afea81;
}
