/* Body */
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; background-image: url("Index.png");
    background-repeat: repeat;
}

#content {
    background-color:#1c1f26;
}

#content h2{
    color: #B4EB89;
}

.title{
    margin: 10px 0px;
    padding: 0px;
    margin-bottom: 0;
    font-size: 3.0rem;
    font-weight: bold;
    color: #89AAEB;
    background-color:#232830;
}
