/* Main webpage */
.main h1{
		color: green;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 100px;
}

.main p{
    color: white;
		margin: 4rem;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
}
