html{
    height: 100%;
}

*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    box-sizing: border-box;
}

body{
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /* background-color:#282C34; */
    background-color:#161616;
}

/* Header */
.main_header{
    color:#81b4ea;
    font-weight: bold;
    text-decoration: none; 
    font-size: 2rem;
    transition: all 0.2s ease 0s;
}

.main_header:hover{
    color: #0088a9;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    border-bottom: .1rem solid #B4EB89;
    /* height: */
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

/* .border1, .border2, .border3, .border4{ */
/*     border-radius: 0.5em; */
/*     background-color: #131517; */
/*     border: 2px solid #268BD2; */
/*     margin-top: 5rem; */
/* } */

/* .border1 p, .border2 p, .border3 p, .border4 p{ */
/*     flex-direction: column; */
/*     text-align: center; */
/* } */

/* .header_aboutme, .header_mysystem, .header_source, .header_aroundweb{ */
/*     flex-direction: column; */
/*     text-align: center; */
/* } */

.border4 ul{
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

.border4 {
    margin-bottom: 3rem;
}

.nav_links li a{
    transition: all 0.2s ease 0s;
    color: #c4c2bf;
    text-decoration: none; 
}

.nav_links li a:hover{
    color: #0088a9;
}

/* Main */

.title-region{ 
    height: calc(100vh - 120px);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: transitionIn 0.7s;
}

@keyframes transitionIn {
    from {
	opacity: 0;
	transform: translateY(-10px);
    }
    to {
	opacity: 1;
	transform: translateY(0);
    }
}

.title{ 
    font-size: 10rem;
}

.title_comment{
    display: flex;
    font-size: 1rem;
    margin-bottom: 3rem;
    color: hsla(0,0%,100%,.7);
    font-family: Inter,sans-serif;
    font-weight: 700;
}

.content{
    background-image: url("/images/do-not-delete/wallpaper2.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

.content p {
    white-space: pre-line;
}

.content a {
    text-decoration: none;
    color:#fd7e14;
}

/* Headers */
.border1 p, .border2 p, .border3 p, .border4 p{
    margin-left: 8rem;
    margin-top: 2rem;
}

.border4 ul{
    margin-left: 9rem;
}

.container {
    color: white;
    position: relative;
    width: 700px;
    height: 70px;
    border-bottom:5px solid red;
    line-height: 50px;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-top: 4rem;
    margin-left: 2rem;
}

.container span{
    font-size: 3rem;
    background: red;
    display: inline-block;
    /* padding: 10px 20px; */
    padding: 4.5px 50px 15px 3px;
    display: inline-block;
}

.container span:before{
    position: absolute;
    content: "";
    width: 85%;
    height: 100%;
    background: red;
    z-index: 1;
    transform:rotate(45deg);
}

.border2 .container span:before{
    width: 96%;
}

.border3 .container span:before{
    width: 100%;
}

.border4 .container span:before{
    width: 121.6%;
}

/* Footer */
footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 10px;
    color: white;
    margin-top: auto;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 7px auto;
    line-height: 14px;
    font-size: 15px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0.25rem 0 7.5rem 0; */
    margin: 0.5rem 0 1rem 0;
}

.socials li{
    margin: 0 5px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 0.6m;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 9px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 12px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/* Mobile Devices */
@media only screen and (max-width: 1067px) {
    .title{ 
	font-size: 9rem;
    }
}

@media only screen and (max-width: 966px) {
    .title{ 
	font-size: 8rem;
    }
}

@media only screen and (max-width: 866px) {
    .title{ 
	font-size: 7rem;
    }

    .container {
	width: 370px;
	height: 50px;
    }

    .container span{
	font-size: 2.3rem;
	padding: 2px 24px 15px 7px;
    }

    .container span:before{
	width: 115%;
	height: 100%;
    }


    .border2 .container span:before{
	width: 132%;
    }

    .border2 .container{
	height: 54px;
    }

    .border3 .container span:before{
	width: 138%;
    }

    .border4 .container span:before{
	width: 140%;
    }

    .border4 .container {
	width: 450px;
    }

    .border1 p, .border2 p, .border3 p, .border4 p{
	margin-left: 4rem;
	margin-top: 2rem;
    }

    .border4 ul{
	margin-left: 5rem;
    }
}

@media only screen and (max-width: 765px) {
    .title{ 
	font-size: 6rem;
    }
}

@media only screen and (max-width: 640px) {
    .title{ 
	font-size: 6rem;
	text-align: center;
	margin-bottom: 20px;
    }

    .title-region{ 
	height: calc(100vh - 140px);
    }

    .container span{
	font-size: 2.3rem;
	padding: 2px 24px 15px 7px;
    }

    .container span:before{
	width: 115%;
	height: 100%;
    }

    .border2 .container span:before{
	width: 132%;
    }

    .border3 .container span:before{
	width: 139%;
    }

    .border4 .container span:before{
	width: 140%;
    }
}
