/* Global Settings */
body {
    margin: 0px;
    padding: 0px;
    background-color:#282C34;
    overflow-x: hidden;
}

/* Preamble (Header) */

/* Main Title */
Haider {
    display: flex;
    justify-content: space-around;
    background-color:#16191e;
}

.Haider a {
    color:#81b4ea;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-decoration: none; 
    font-size: 3.5rem;
    display: flex;
    justify-content: left;
    margin-left: 12.4rem;
}

.Haider li {
    list-style: none;
}

/* Nav - Links */
.nav {
    display: flex;
    height: 2.5rem;
    background-color:#16191e;
    border-bottom: .1rem solid #B4EB89;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-left: 12.4rem;
}

.links a {
    color:#c4c2bf;
    text-decoration: none; 
    position: relative;
    font-size: 1.3rem;
    margin: 0.5rem 1.5rem 0.5rem 0rem;
    font-weight: bold;
}

.links a:hover, .links a:focus {
    color: #fff;
    background-color: transparent;
}

/* Document settings */

/* headers */

h1 {
    color:#81b4ea;
    margin-left: 12.4rem;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color:#afea81;
    margin-left: 12.4rem;
    font-family: 'Roboto', sans-serif;
}

h3 {
    color:#afea81;
    margin-left: 12.4rem;
    font-family: 'Roboto', sans-serif;
}

h4 {
    color:#afea81;
    margin-left: 12.4rem;
    font-family: 'Roboto', sans-serif;
}

h5 {
    color:#afea81;
    margin-left: 12.4rem;
    font-family: 'Roboto', sans-serif;
}

h6 {
    color:#afea81;
    margin-left: 12.4rem;
    font-family: 'Roboto', sans-serif;
}

/* All other settings */
p {
    margin-left: 12.4rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
    white-space: pre-wrap;      
    color:white;
}

a {
    color:#fd7e14;
    font-family: 'Roboto', sans-serif;
}


li {
    font-family: 'Roboto', sans-serif;
    margin-left: 12.4rem;
    color:white;
}

/* Postamble (Footer) */
#postamble {
    background-color:#16191e;
    border-top: .1rem solid #B4EB89;
}

#postamble p {
    display: flex;
    justify-content: left;
    height: 2.5rem;
    align-items: center;
    margin-bottom: 0;
}

/* Experience better on mobile devices */

@media screen and (max-width:1200px){
.Haider a {
    margin-left: 10rem;
}

.links {
    margin-left: 10rem;
}

h1 {
    margin-left: 10rem;
}

h2 {
    margin-left: 10rem;
}

h3 {
    margin-left: 10rem;
}

h4 {
    margin-left: 10rem;
}

h5 {
    margin-left: 10rem;
}

h6 {
    margin-left: 10rem;
}

p {
    margin-left: 10rem;
}

li {
    margin-left: 10rem;
}

}

@media screen and (max-width:1024px){
.Haider a {
    margin-left: 6.4rem;
}

.links {
    margin-left: 6.4rem;
}

h1 {
    margin-left: 6.4rem;
}

h2 {
    margin-left: 6.4rem;
}

h3 {
    margin-left: 6.4rem;
}

h4 {
    margin-left: 6.4rem;
}

h5 {
    margin-left: 6.4rem;
}

h6 {
    margin-left: 6.4rem;
}

p {
    margin-left: 6.4rem;
}

li {
    margin-left: 6.4rem;
}

}

@media screen and (max-width:700px){
.Haider a {
    margin-left: 4rem;
}

.links {
    margin-left: 4rem;
}

h1 {
    margin-left: 4rem;
}

h2 {
    margin-left: 4rem;
}

h3 {
    margin-left: 4rem;
}

h4 {
    margin-left: 4rem;
}

h5 {
    margin-left: 4rem;
}

h6 {
    margin-left: 4rem;
}

p {
    margin-left: 4rem;
}

li {
    margin-left: 4rem;
}

}

@media screen and (max-width:700px){
.Haider a {
    margin-left: 2rem;
}

.links {
    margin-left: 2rem;
}

h1 {
    margin-left: 2rem;
}

h2 {
    margin-left: 2rem;
}

h3 {
    margin-left: 2rem;
}

h4 {
    margin-left: 2rem;
}

h5 {
    margin-left: 2rem;
}

h6 {
    margin-left: 2rem;
}

p {
    margin-left: 2rem;
}

li {
    margin-left: 2rem;
}

}

@media screen and (max-width:300px){
.Haider a {
    margin-left: 0.5rem;
}

.nav {
    height: 4rem;
}

.links {
    margin-left: 0.5rem;
    display: block;
}

h1 {
    margin-left: 0.5rem;
}

h2 {
    margin-left: 0.5rem;
}

h3 {
    margin-left: 0.5rem;
}

h4 {
    margin-left: 0.5rem;
}

h5 {
    margin-left: 0.5rem;
}

h6 {
    margin-left: 0.5rem;
}

p {
    margin-left: 0.5rem;
}

li {
    margin-left: 0.5rem;
}

}
