/* Global Settings */
body {
    margin: 0px;
    padding: 0px;
    background-color:#282C34;
    overflow-x: hidden;
}

#content {
    margin-left: 12.4rem;
}

/* Preamble (Header) */

/* Main Title */
Haider {
    display: flex;
    justify-content: space-around;
    background-color:#16191e;
}

.Haider a {
    color:#81b4ea;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-decoration: none; 
    font-size: 3.5rem;
    display: flex;
    justify-content: left;
    margin-left: 12.4rem;
}

.Haider li {
    list-style: none;
}

/* Nav - Links */
.nav {
    display: flex;
    height: 2.5rem;
    background-color:#16191e;
    border-bottom: .1rem solid #B4EB89;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-left: 12.4rem;
}

.links a {
    color:#c4c2bf;
    text-decoration: none; 
    position: relative;
    font-size: 1.3rem;
    margin: 0.5rem 1.5rem 0.5rem 0rem;
    font-weight: bold;
}

.links a:hover, .links a:focus {
    color: #fff;
    background-color: transparent;
}

/* Document settings */

/* headers */

h1 {
    color:#81b4ea;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color:#afea81;
    margin-top: 2.5rem;
    margin-bottom: 0rem;
    font-family: 'Roboto', sans-serif;
}

h3 {
    color:#ffd966;
    margin-bottom: -1rem;
    font-family: 'Roboto', sans-serif;
}

h4 {
    color:#ffd966;
    margin-bottom: -1rem;
    font-family: 'Roboto', sans-serif;
}

h5 {
    color:#ffd966;
    font-family: 'Roboto', sans-serif;
}

h6 {
    color:#ffd966;
    font-family: 'Roboto', sans-serif;
}

/* All other settings */
p {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
    white-space: pre-wrap;      
    color:white;
}

a {
    color:#fd7e14;
    font-family: 'Roboto', sans-serif;
}


.org-ul {
    font-family: 'Roboto', sans-serif;
    color:white;
}

.org-ol {
    font-family: 'Roboto', sans-serif;
    color:white;
}

.outline-text-5 {
    font-family: 'Roboto', sans-serif;
    color:white;
    margin-left: -12.4rem;
}

th {
    color:#fd7e14;
}

td {
    color:white;
}

.org-right {
    background-color:#16191e;
}

/* Source Blocks */
.src{
    padding:1rem;
}

.org-src-container{
    border-left: .3rem solid #B4EB89;
    color:white;
    background-color:#16191e;
    margin-right: 20rem;
}

/* Postamble (Footer) */
#postamble {
    background-color:#16191e;
    border-top: .1rem solid #B4EB89;
   /* position:absolute; */
   /* bottom:0; */
   /* width:100%; */
}

#postamble p {
    margin-left: 12.4rem;
    display: flex;
    justify-content: left;
    height: 2.5rem;
    align-items: center;
    margin-bottom: 0;
}

/* Experience better on mobile devices */

@media screen and (max-width:1200px){
    #content {
	margin-left: 10rem;
    }

    .outline-text-5 {
	margin-left: -10rem;
    }

    #postamble p {
	margin-left: 10rem;
    }

    .Haider a {
	margin-left: 10rem;
    }

    .links {
	margin-left: 10rem;
    }
}

@media screen and (max-width:1024px){
    #content {
	margin-left: 6.4rem;
    }

    .outline-text-5 {
	margin-left: -6.4rem;
    }
    #postamble p {
	margin-left: 6.4rem;
    }

    .Haider a {
	margin-left: 6.4rem;
    }

    .links {
	margin-left: 6.4rem;
    }
}

@media screen and (max-width:700px){
    #content {
	margin-left: 4rem;
    }

    .outline-text-5 {
	margin-left: -4rem;
    }
    #postamble p {
	margin-left: 4rem;
    }

    .Haider a {
	margin-left: 4rem;
    }

    .links {
	margin-left: 4rem;
    }
}

@media screen and (max-width:700px){
    #content {
	margin-left: 2rem;
    }

    .outline-text-5 {
	margin-left: -2rem;
    }
    #postamble p {
	margin-left: 2rem;
    }

    .Haider a {
	margin-left: 2rem;
    }

    .links {
	margin-left: 2rem;
    }
}

@media screen and (max-width:452px){
    #content {
	margin-left: 0.5rem;
    }

    .outline-text-5 {
	margin-left: -0.5rem;
    }
    #postamble p {
	margin-left: 0.5rem;
    }

    .Haider a {
	margin-left: 0.5rem;
    }

    .links {
	margin-left: 0.5rem;
	display: block;
    }

    .nav {
	height: 4rem;
    }
}


@media screen and (max-width:259px){
    .nav {
	height: 6rem;
    }
}
