html{
    height: 100%;
}

*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    box-sizing: border-box;
}

body{
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /* background-color:#282C34; */
    background-color:black;
}

/* Header */
.main_header{
    color:#81b4ea;
    font-weight: bold;
    text-decoration: none; 
    font-size: 2rem;
    transition: all 0.2s ease 0s;
}

.main_header:hover{
    color: #0088a9;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    border-bottom: .1rem solid #B4EB89;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.2s ease 0s;
    color: #c4c2bf;
    text-decoration: none; 
}

.nav_links li a:hover{
    color: #0088a9;
}

/* Main */
.title{
    background: -webkit-linear-gradient(#fc575e, #f7b42c
);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .title_comment{ */
/*     display: flex; */
/*     flex-direction: column; */
/*     align-items: center; */
/* } */

/* .content{ */
/*     padding-left: 30px; */
/*     padding-right: 30px; */
/*     color: white; */
/* } */

/* .content p { */
/*     white-space: pre-line; */
/* } */

/* .content a { */
/*     text-decoration: none; */
/*     color:#fd7e14; */
/* } */

/*  /\* Headers *\/ */
/* .header_aboutme{ */
/*     margin-left: 1rem; */
/*     margin-top: 15rem; */
/*     margin-bottom: 1rem; */
/*     color:green; */
/* } */

/* .header_mysystem{ */
/*     margin-left: 1rem; */
/*     margin-top: 6rem; */
/*     margin-bottom: 1rem; */
/*     color:green; */
/* } */

/* .header_source{ */
/*     margin-left: 1rem; */
/*     margin-top: 6rem; */
/*     margin-bottom: 0rem; */
/*     color:green; */
/* } */

/* .header_aroundweb{ */
/*     margin-left: 1rem; */
/*     margin-top: 6rem; */
/*     margin-bottom: 0rem; */
/*     color:green; */
/* } */

/* .org-ul{ */
/*     margin-bottom: 3rem; */
/* } */






































.content h1 {
    color:#81b4ea;
    margin-top: 1rem;
}

.content h2 {
    color:#afea81;
    margin-top: 1rem;
}

.content h3 {
    color:#ffd966;
    margin-top: 1rem;
}

.content h4 {
    color:#FF0000;
    margin-top: 1rem;
}

.content h5 {
    color:#ffd966;
    margin-top: 1rem;
}

.content h6 {
    color:#ffd966;
    margin-top: 1rem;
}

/* All other settings */
p {
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
    white-space: pre-wrap;      
    color:white;
}

a {
    color:#fd7e14;
}


.org-ul {
    color:white;
}

.org-ol {
    color:white;
}

.outline-text-5 {
    color:white;
}

th {
    color:#fd7e14;
}

td {
    color:white;
}

.org-right {
    background-color:#16191e;
}

/* Source Blocks */
.src{
    padding:1rem;
}

.org-src-container{
    border-left: .3rem solid #B4EB89;
    color:white;
    background-color:#16191e;
}

/* Postamble (Footer) */
/* #postamble { */
/*     background-color:#16191e; */
/*     border-top: .1rem solid #B4EB89; */
/*    /\* position:absolute; *\/ */
/*    /\* bottom:0; *\/ */
/*    /\* width:100%; *\/ */
/* } */

/* #postamble p { */
/*     display: flex; */
/*     justify-content: left; */
/*     height: 2.5rem; */
/*     align-items: center; */
/*     margin-bottom: 0; */
/* } */

/* Footer */
footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 10px;
    color: white;
    margin-top: auto;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 7px auto;
    line-height: 14px;
    font-size: 15px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0.25rem 0 7.5rem 0; */
    margin: 0.5rem 0 1rem 0;
}

.socials li{
    margin: 0 5px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 0.6m;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 9px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 12px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
