/* Body */
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; background-image: url("Index.png");
    background-repeat: repeat;
    overflow-x: hidden;
}

title{
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
}
